.git
.github
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
node_modules
apps
docs
scripts
tests
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
package.json
pnpm-lock.yaml
tsconfig.base.json
